@font-face {
    font-family: 'Peanuts';
    src:url('Peanuts.ttf.woff') format('woff'),
    url('Peanuts.ttf.svg#Peanuts') format('svg'),
    url('Peanuts.ttf.eot'),
    url('Peanuts.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: 'Peanuts';
    background-color: #c7d8f2;
}

.page-heading {
    font-size: 500%;
    -webkit-text-stroke: 2px black;
}